

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> BUND Projekt - {{ headline }}</title>
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/landing_styles.css">
  </head>
  <body>

<div class="container">
    <div class="twelve columns">&nbsp;</div>
    <div class="four columns login">
        {% if user.is_authenticated %}
            <p>Eingeloggt als {{request.user.username}}&nbsp;|
            <a href="/logout/">ausloggen</a>
        {% else %}
            <p>Willkommen Gast&nbsp;| &nbsp;
            <a href="/login/">einloggen</a>
        {% endif %}
        </p>
    </div>
</div>

  <header id="header">
    <div class="container">
      <div class="sixteen columns">
        <!-- nav begains here-->
        <nav class="eleven columns alpha">
            <div class="four columns alpha">
                <h1><a href="../../">logo</a></h1>
            </div>
            <div class="seven columns alpha">
                <h3>Ein Projekt des Bundes für Umwelt- und Naturschutz Deutschland</h3>
                <h2>Bundesverkehrswegeplan</h2>
            </div>
        </nav>
        <!-- nav ends here-->
        <nav class="five columns omega">
        <ul>
        <li>
          <a href="#" class="street"></a>
        </li>
        <li>
          <a href="#" class="schienen"></a>
        </li>
        <li>
          <a href="#" class="ws"></a>
        </li>
        </ul>
        </nav>

      </div>
    </div>
  </header>


<!--    Add Length and remove Alternativen    -->
<section id="content">
    <div class="container" style="margin-top: 10px;">
        <div class="sixteen columns">
            <div class="headline top bottom">Sie befinden sich hier: <a href="../../">Übersicht</a> / Projekt anlegen/editieren</div>
        </div>

        <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}


        <div class="sixteen columns">
            <div class="headline" style="margin-top: 10px;">Geometrie</div>
            <div class="content bottom" style="height: 420px;">
              <section id="addmap">
                {{ form.line }}
              </section>
            </div>
        </div>


        <div class="sixteen columns">
            <div class="six columns alpha">

<div class="headline bottom">{{form.bild.label_tag}} {{form.bild}}</div>

                

                <div class="headline" style="margin-top: 10px;">Details zum Projekt: {{road.name}}</div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            <b>{{form.name.label_tag}}</b>
                        </div>
                        <div class="right">
                            {{ form.name }}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            <b>{{form.bundesland.label_tag}}</b>
                        </div>
                        <div class="right">
                            {{ form.bundesland }}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            {{form.art.label_tag}}:
                        </div>
                        <div class="right">
                          {{ form.art }}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            {{form.projekt_typ.label_tag}}
                        </div>
                        <div class="right">
                          {{ form.projekt_typ }}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            {{form.bedarf.label_tag}}
                        </div>
                        <div class="right">
                            {{ form.bedarf }}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            <b>{{form.verlauf_von.label_tag}}</b>
                        </div>
                        <div class="right">
                            {{form.verlauf_von}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            <b>{{form.verlauf_bis.label_tag}}</b>
                        </div>
                        <div class="right">
                            {{form.verlauf_bis}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            {{form.laenge.label_tag}}
                        </div>
                        <div class="right">
                            {{form.laenge}}
                        </div>
                    </div>
                </div>
                <div class="content bottom">
                    <div class="container">
                        <div class="left">
                            <b>{{form.kosten.label_tag}}</b>
                        </div>
                        <div class="right">
                            {{form.kosten}}
                        </div>
                    </div>
                </div>


                <div class="headline" style="margin-top: 10px;">Weitere Informationen</div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            {{form.planungsstand.label_tag}}:
                        </div>
                        <div class="right">
                            {{form.planungsstand}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            <b>{{form.nutz_kost_verh_2003.label_tag}}</b>
                        </div>
                        <div class="right">
                            {{form.nutz_kost_verh_2003}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            <b>{{form.nutz_kost_verh_2015.label_tag}}</b>
                        </div>
                        <div class="right">
                            {{form.nutz_kost_verh_2015}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            {{form.umweltrisiko.label_tag}}:
                        </div>
                        <div class="right">
                            {{form.umweltrisiko}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            {{form.stadr_bewert.label_tag}}
                        </div>
                        <div class="right">
                            {{form.stadr_bewert}}
                        </div>
                    </div>
                </div>

                <div class="content bottom">
                    <div class="container">
                        <div class="left">
                            {{form.vert_entw_ziel.label_tag}}
                        </div>
                        <div class="right">
                            {{form.vert_entw_ziel}}<br/>
                        </div>
                    </div>
                </div>



            </div>
            <div class="ten columns omega">


                <div class="headline">{{form.projekt_ziel.label_tag}}:</div>
                <div class="content bottom">
                        <p>
                        {{form.projekt_ziel}}
                        </p>
                </div>


                <div class="headline" style="margin-top: 10px;">{{form.kritik.label_tag}}:</div>
                <div class="content bottom">
                        <p>
                        {{form.kritik}}
                        </p>
                </div>


                <div class="headline bottom" style="margin-top: 40px;">
                    <i>Sämtliche <b>fett geschriebenen</b> Felder sind Pflichtfelder</i>
                </div>

                <div class="headline bottom">
                    <input id="submitbutton" type="submit" value="Daten absenden">
                </div>




            </div>
        </div>




    </form>

    </div>
</section>
<footer>
    <div class="container">
        <div class="six columns">&nbsp;</div>
        <div class="five columns" style="text-align: center">Ein Projekt der<br /><a href="http://beuth-hochschule.de/" target="_blank"><img src="{{ STATIC_URL }}/images/beuth_logo.png"></a></div>
        <div class="five columns omega" style="text-align: center">    Code & Design by<br /><a href="http://geosolution.org/" target="_blank"><img src="{{ STATIC_URL }}/images/gsolution.png"></a></div>
    </div>
</footer>
















  </body>
</html>
