<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> BUND Projekt - {{road.name}}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/landing_styles.css">

	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


	<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/openlayers-function.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/helpers.js"></script>

</head>
<body>

<div class="container">
    <div class="twelve columns">&nbsp;</div>
    <div class="four columns login">
        {% if user.is_authenticated %}
            <p>Eingeloggt als {{request.user.username}}&nbsp;|
            <a href="/logout/">ausloggen</a>
        {% else %}
            <p>Willkommen Gast&nbsp;| &nbsp;
            <a href="/login/">einloggen</a>
        {% endif %}
        </p>
    </div>
</div>

  <header id="header">
    <div class="container">
      <div class="sixteen columns">
        <!-- nav begains here-->
        <nav class="eleven columns alpha">
            <div class="four columns alpha">
                <h1><a href="../../">logo</a></h1>
            </div>
            <div class="seven columns alpha">
                <h3>Ein Projekt des Bundes für Umwelt- und Naturschutz Deutschland</h3>
                <h2>Bundesverkehrswegeplan</h2>
            </div>
        </nav>
        <!-- nav ends here-->
        <nav class="five columns omega">
        <ul>
        <li>
          <a href="#" class="street"></a>
        </li>
        <li>
          <a href="#" class="schienen"></a>
        </li>
        <li>
          <a href="#" class="ws"></a>
        </li>
        </ul>
        </nav>

      </div>
    </div>
  </header>


<section id="content">
    <div class="container" style="margin-top: 10px;">
      	<div class="sixteen columns">
            <div class="headline top bottom">Sie befinden sich hier: <a href="../../">Übersicht</a> / {{road.name}}</div>
            
        </div>
        <div class="sixteen columns">
            <div class="six columns alpha">
{% if road.bild = "" %}
<div class="headline bottom">Kein Bild vorhanden</div>
{% else %}
    <img src="{% url landing %}media/{{road.bild}}" class="image" />
{% endif %}
                

                <div class="headline" style="margin-top: 10px;">Details zum Projekt: {{road.name}}</div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            Projektart:
                        </div>
                        <div class="right">
                            {% if road.art == "AU" %}
                                Autobahn
                            {% elif road.art == "BU" %}
                                Bundesstraße
                            {% else %}
                                {{road.art}}
                            {% endif%}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            Projekttyp
                        </div>
                        <div class="right">
                            {% if road.projekt_typ == "A" %}
                                Ausbau
                            {% elif road.projekt_typ == "N" %}
                                Neubau
                            {% else %}
                                {{road.projekt_typ}}
                            {% endif%}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            Bedarf
                        </div>
                        <div class="right">
                            {% if road.bedarf == "VB" %}
                                vordringlicher Bedarf
                            {% elif road.bedarf == "WB" %}
                                weiterer Bedarf
                            {% elif road.bedarf == "KB" %}
                                kein Bedarf
                            {% else %}
                                {{road.bedarf}}
                            {% endif%}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            Verlauf von
                        </div>
                        <div class="right">
                            {{road.verlauf_von}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            bis
                        </div>
                        <div class="right">
                            {{road.verlauf_bis}}
                        </div>
                    </div>
                </div>

                <div class="content bottom">
                    <div class="container">
                        <div class="left">
                            Kosten:
                        </div>
                        <div class="right">
                            {{road.kosten}}
                        </div>
                    </div>
                </div>


                <div class="headline" style="margin-top: 10px;">Weitere Informationen</div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            Planungsstand
                        </div>
                        <div class="right">
                            {{road.planungsstand}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            Kosten-/Nutzungsverhältnis
                        </div>
                        <div class="right">
                            {{road.nutz_kost_verh}}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="left">
                            Umweltrisiko
                        </div>
                        <div class="right">
                            {{road.umweltrisiko}}
                        </div>
                    </div>
                </div>

                <div class="content bottom">
                    <div class="container">
                        <div class="left">
                            Raumwirsamkeitanalyse
                        </div>
                        <div class="right">
                            {{road.raumw_analyse}}
                        </div>
                    </div>
                </div>



            </div>
            <div class="ten columns omega">


                <div class="headline">Projektziel</div>
                <div class="content bottom">
                        <p>
                        {{road.projekt_ziel}}
                        </p>
                </div>


                <div class="headline" style="margin-top: 10px;">Kritik</div>
                <div class="content bottom">
                        <p>
                        {{road.kritik}}
                        </p>
                </div>

                <div class="headline" style="margin-top: 10px;">Alternativen</div>
                <div class="content bottom">
                        <p>
                        {{road.alternativen}}
                        </p>
                </div>

            </div>
        </div>

    </div>
</section>
<footer>
    <div class="container">
        <div class="six columns">&nbsp;</div>
        <div class="five columns" style="text-align: center">Ein Projekt der<br /><a href="http://beuth-hochschule.de/" target="_blank"><img src="{{ STATIC_URL }}/images/beuth_logo.png"></a></div>
        <div class="five columns omega" style="text-align: center">    Code & Design by<br /><a href="http://geosolution.org/" target="_blank"><img src="{{ STATIC_URL }}/images/gsolution.png"></a></div>
    </div>
</footer>
</body>

</html>