<html>
<head>

</head>
<body>
	<h1>{{road.name}}</h1>
	<h6>Art: {{road.art}}</h6>
	<h6>Projekt: {{road.projekt_typ}}</h6>
	<h6>Verlauf von: {{road.verlauf_von}}</h6>
	<h6>Verlauf bis: {{road.verlauf_bis}}</h6>
	<h6>Kosten: {{road.kosten}}</h6>
	<h6>Badarf: {{road.bedarf}}</h6>
	<h6>Planungsstand: {{road.planungsstand}}</h6>
	<h6>Linie: {{road.line}}</h6>
	<h6>Kosten/Nutzen Verhältnis: {{road.nutz_kost_verh}}</h6>
	<h6>Umweltrisiko: {{road.umweltrisiko}}</h6>
	<h6>Raumwirsamkeitanalyse: {{road.raumw_analyse}}</h6>
	<h6>Städtebauliche Bewertung: {{road.stadr_bewert}}</h6>
	<h6>Projekt Ziel: {{road.projekt_ziel}}</h6>
	<h6>Kritik: {{road.kritik}}</h6>
	<h6>Alternativen: {{road.alternativen}}</h6>

	<img src="{% url landing %}media/{{road.bild}}" />



</body>

</html>