    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }






/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      margin:0;
      padding:0;
    }

    /* #Site Styles
================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background:#e8e8e8 url('../images/bg_all.png') repeat left top;
    position: relative;
    font:12px/24px 'Arial', sans-serif;
    color:#666;
    margin:0;
    padding:0;
}

/* headlines
================================================== */
h4 {
  line-height:18px;
  margin-bottom:12px;
  color:#333; }
h5 {
  font:400 16px/18px 'Arial', sans-serif;
  color:#333;
  margin:0 0 12px 0;
}
h4 a {
  color:#333;
}
h4 a:hover {
  color:#889961;
}

/* ancher links
================================================== */
a {
    text-decoration:none;
    outline:none;
    margin:0;
    padding:0;
    color:#889961;
    /* transition */
    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}
a:hover {
    color:#111;
}

/* ul & ol & li
================================================== */
ul, ol {
    list-style:none;
    margin:0;
    padding:0;
}
li {
    margin:0;
    padding:0;
}


/* #right bar
================================================== */
.rightBar nav select {
    display:none;   
}
/* ul menu */
.rightBar nav ul li {
    float:left;
    position:relative;
}
.rightBar nav ul li a {
    display:block;
    padding:5px 10px 5px 10px;
    width: 180px;
    margin:0;
    font:100 14px 'Arial', sans-serif;
    color:#656565;
    background: rgba(255,255,255,0.85);
    border-bottom: solid 1px #d6d6d6;
}
.rightBar nav ul li:last-child a {
    border-bottom:none;
}
.rightBar nav ul li a:hover {
    color:#fff;
    border-color:#3a7dbf;
    background:#7ab51d;
    border-bottom: solid 1px #4b7011;
}
.headline {
    background: rgba(122,181,29,0.85);
    padding: 5px;
    color: #fff;
    font:bold 14px 'Arial', sans-serif;
}

.rightBarWrapperMother {
	position: relative;
	width: 100%;
}
.rightBarWrapper {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1000;
	min-width: 200px;
	max-width: 200px;
}



/* end */

/* #Page Styles Header
================================================== */
/* SECTION HEADER */
header {
    margin:0px 0 0 0;
    position:relative;
    display: block;
    width:100%;
    z-index:10000;
    border-top: 1px solid #e2e2e4;
    border-bottom:1px solid #e2e2e4;
    background: rgba(255,255,255,0.6);
    max-height: 80px;
	-moz-box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
	box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
}

/* ==== site Logo === */
header h1 {
    margin:0;
    padding:10px;
}
header h1 a {
    background:url('../images/bund_logo.png') no-repeat left top;
    width:200px;
    height:53px;
    display:block;
    font:0/0 a;
    text-shadow:none;
    color:transparent;
}
header h1 a:hover {
    opacity: .7;
    -moz-opacity: .7;
    filter:alpha(opacity=70);
}
/* end */

/* ==== name and slogan === */
header h2 {
	margin-top:0px;
    font:100 36px 'Arial', sans-serif;
    color: rgba(30,30,30,0.8);
}
header h3 {
	margin-top:11px;
	margin-left: 2px;
    font:100 12px 'Arial', sans-serif;
    color: rgba(30,30,30,0.4);
}
/* end */

/* select menu */
header nav select {
    display:none;   
}
/* ul menu */
header nav ul li {
    float:left;
    position:relative;
}
header nav ul li a {
    display:block;
    padding:32px 11px 11px;
    margin:0;
    font:100 16px 'Arial', sans-serif;
    color:#656565;
    border-left:1px solid #e4e4e4;
    border-right:1px solid #e4e4e4;
    text-transform:capitalize;
    height: 38px;
    min-width: 50px;
}
header nav ul li:first-child a {
    border-left:1px solid #e4e4e4;
    border-right:none;
}
header nav ul li a:hover {
    color:#f2f2f2;
    border-color:#7bb51d;
    background:#7bb51d;
}
header nav ul li:hover a {
    border-color:#7bb51d;
    background:#7bb51d;
}
header nav ul li li a:hover {
    border:none;
    padding-left:18px;
    background:#7bb51d;
    color:#fff;
}
/* ==== navigation === */
header nav ul li a.ws:hover {
    background: #7bb51d url('../images/ws_a.png') no-repeat center 19px;
	opacity:0.8;
	filter:alpha(opacity=80);
}
header nav ul li a.ws {
    background: url('../images/ws.png') no-repeat center 19px;
	opacity:0.8;
	filter:alpha(opacity=80);
}
header nav ul li a.schienen:hover {
    background: #7bb51d url('../images/schienen_a.png') no-repeat center 19px;
	opacity:0.8;
	filter:alpha(opacity=80);
}
header nav ul li a.schienen {
    background: url('../images/schienen.png') no-repeat center 19px;
	opacity:0.8;
	filter:alpha(opacity=80);
}
header nav ul li a.street:hover {
    background:url('../images/street.png') no-repeat center 19px;
	opacity:0.8;
	filter:alpha(opacity=80);
}
header nav ul li a.street {
    background: #7bb51d url('../images/street_a.png') no-repeat center 19px;
	opacity:0.8;
	filter:alpha(opacity=80);
}
/* SECTION END */

/* ==== map container === */
#main_map{
	width:100%;
	min-height:500px;
	height: 80%;
	border-top: 2px solid #7bb51d;
	border-bottom: 0px solid #7bb51d;
	margin-bottom: -30px;

}
/* end */
/* ==== content table elements === */
select {
  font-size: 10px;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(../images/select_right.png), 
    -webkit-linear-gradient(#fff, #fafafa 40%, #f7f7f7);
  background-position: center right;
  background-repeat: no-repeat;
  color: #888;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 100px;
  cursor: pointer;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select:hover {
  background-image: url(../images/select_right_.png);
}

/* ==== SECTION FILTERAREAS === */
#filterArea {
  width: 100%;  background: #94c445; color: #fff; padding: 0px 0 0px 0;
  z-index:10000;
}
/* Table Elements */
#filterArea table {
  border:1px solid #94c445;
  -moz-box-shadow: -6px -6px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: -6px -6px 0px rgba(0,0,0,0.15);
  box-shadow: -6px -6px 0px rgba(0,0,0,0.15);
  overflow:hidden;
  background:#fefefe;
  min-width: 960px;
  width: 100%;
  border: 1px solid #d5d5d5;
}
#filterArea th {
  padding-top: 0px; 
  border-left:1px solid #fefefe;
  border-right:1px solid #d3d3d3;
  background: #fff;
  padding: 5px 5px 5px 5px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  background: -moz-linear-gradient(top, #fafafa, #efefef);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa, endColorStr=#efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa, endColorStr=#efefef);
}
#filterArea td {border:0px solid #f2f2f2;}
#filterArea tr {border:0px solid #f2f2f2;}

/* TH definitions and grid properties */
#filterArea th { border-bottom:1px solid #f4f4f4;}
#filterArea th:first-child {
  width: 4%;
  min-width; 50px;
  text-align: center;
  border-left:0px; 
}
#filterArea th:nth-child(2) { width: 10%; border-left:0px; }
#filterArea th:nth-child(3) { width: 25%; text-align: left; }
#filterArea th:nth-child(4) { width: 10%; }
#filterArea th:nth-child(5) { width: 15%; }
#filterArea th:nth-child(6) { width: 10%; }
#filterArea th:nth-child(7) { width: 10%; }
#filterArea th:last-child { width: 16%; border-right:0px; }


/* ==== All other table elements === */
table {
	overflow:hidden;
	border:1px solid #d3d3d3;
	background:#fefefe;
  min-width: 960px;
  width: 100%;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
tr:nth-child(even) {
  background:#f7f7f7;
}
th {
  padding-top:5px;
  text-shadow: 1px 1px 1px #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ededed));
  background: -moz-linear-gradient(top, #f5f5f5, #ededed);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f5f5f5, endColorStr=#ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f5f5f5, endColorStr=#ededed);
  border-top:1px solid #ebfad2;
  border-bottom:1px solid #c9c9c9;
  color: #b0b0b0;
}
td {
  padding:4px 10px 4px;
  text-align:left;
  border-top:1px solid #f2f2f2;
  border-right:1px solid #f2f2f2;
  max-height: 25px;
}
td.first, th.first {text-align:left}
td.last {border-right:none;}

/* TD definitions and grid properties */
td:first-child {
  width: 10%;
  min-width; 50px;
  text-align: center;
}
td:nth-child(2) { width: 4%; text-align: center;}
td:nth-child(3) { width: 25%; }
td:nth-child(4) { width: 10%; }
td:nth-child(5) { width: 15%; }
td:nth-child(6) { width: 10%; }
td:nth-child(7) { width: 10%; }
td:last-child { width: 16%; }
/* TH definitions and grid properties */
th:first-child {
  width: 10%;
  min-width; 50px;
  text-align: center;
}
th:nth-child(2) { width: 4%; text-align: center;}
th:nth-child(3) { width: 25%; }
th:nth-child(4) { width: 10%; }
th:nth-child(5) { width: 15%; }
th:nth-child(6) { width: 10%; }
th:nth-child(7) { width: 10%; }
th:last-child { width: 16%; }
/* Hover styles */
tr:hover, tr:nth-child(even):hover {
  background: #f0f0f0;
  color: #a7c970;
  border-color: #a7c970;
}
/* Additional rounded border styles */
tr:first-child th.first {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px; /* Saf3-4 */
}
tr:first-child th.last {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px; /* Saf3-4 */
}
tr:last-child td.first {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
tr:last-child td.last {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}
/* table style for aborted/deactivated projects */
.table_invisb {
  color: #dedede;
}
.table_invisib td:nth-child(even) {   background: #eeeeee; color: #dedede; }
.table_invisib td:nth-child(odd) {   background: #eeeeee; color: #dedede; }


/* Unter Vorbehalt noch drin !!! */
#searchbutton {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(../images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #888;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 100px;
}
#searchbutton:hover {
  background: #cecece;
}
/* end */

/* === pagination === */
a.button {
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 1px 1px 3px #cecece;
  border: solid #ffffff 1px;
  background: #cccccc;
}
a.button:hover {
  background: #7bb51d;
}
/* end */

/* === Buttons for datatables === */
.databutton {
  font-family: Arial;
  color: #c9c9c9;
  font-size: 14px;
  padding: 4px;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 1px 1px 1px #ffffff;
  border: solid #dadada 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#ededed));
  background: -moz-linear-gradient(top, #f5f5f5, #ededed);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f5f5f5, endColorStr=#ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f5f5f5, endColorStr=#ededed);
  display:inline-block; /* IE sucks */
  width: 90%;
}
.databutton:hover {
  color: #9f9f9f;
  border: solid #cbcbcb 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dadada), to(#ededed));
  background: -moz-linear-gradient(top, #ededed, #dadada);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ededed, endColorStr=#dadada);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ededed, endColorStr=#dadada);
}
/* Edit button */
.edit {
  max-width: 26px;
}
/* If the data button should not be pressed */
.databuttonInvisb {
  font-family: Arial;
  color: #ededed;
  font-size: 14px;
  padding: 4px;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 1px 1px 1px #ffffff;
  border: solid #ededed 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f5f5f5));
  background: -moz-linear-gradient(top, #fcfcfc, #f5f5f5);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fcfcfc, endColorStr=#f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fcfcfc, endColorStr=#f5f5f5);
  display:inline-block; /* IE is so silly */
  width: 90%;
}
/* === Image definition === */
img {
  border: 0px;
}
/* SECTION END */

/* ==== FOOTER === */
footer {
    margin:0px 0 0 0;
    padding: 10px 0 10px 0;
    position:relative;
    display: block;
    width:100%;
    z-index:10000;
    border-top: 1px solid #e2e2e4;
    border-bottom:1px solid #e2e2e4;
    background: rgba(0,0,0,0.125);
    max-height: 80px;
	-moz-box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
	box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
	color: #fff;
}
/* SECTION END */

/* Select */

div.selector { position: relative; height: 26px; background: url(../images/chosenSelect.png) repeat-x; float: left; width: 190px; position: relative; padding-left: 10px; border: 1px solid #D5D5D5; } 
div.selector span { width: 190px; cursor: pointer; position: absolute; right: -1px; height: 26px; background: url(../images/forms/select_right.png) no-repeat center right; top: 0px; line-height: 26px; font-size: 11px; }
div.selector select { width: 202px; cursor: pointer; font-size: 12px; position: absolute; height: 26px; top: 2px; left: -1px; }

.dataTables_length div.selector { width: 45px; float: left; height: 20px; padding-left: 8px; }
.dataTables_length div.selector span { width: 45px; height: 22px; background: url(../images/forms/select_right_datatable.png) no-repeat center right; line-height: 22px; top: -1px; }
.dataTables_length div.selector select { width: 65px; left: -5px; height: 22px; }

/* === SECTION CONTENT === */
#content {
}
#content .headline {
  text-shadow: 1px 1px 1px #fff;
  overflow:hidden;
  background:#fefefe;
  width: 100%;
  border: 1px solid #d5d5d5;
  color: #aaa;
  padding-top: 0px; 
  background: #fff;
  padding: 5px 5px 5px 5px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  background: -moz-linear-gradient(top, #fafafa, #efefef);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa, endColorStr=#efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa, endColorStr=#efefef);
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* Additional margin and rounded borders for first element */
#content .top {
  margin-top: 10px;
  font-weight: 100;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* Additional margin and rounded borders for last element */
#content .bottom {
  margin-bottom: 10px;
  font-weight: 100;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #d5d5d5;
}
/* Give border and rounded edges to project images */
#content .image {
  width: 100%;
  background:#fefefe;
  border: 1px solid #d5d5d5;
  padding: 5px 5px 5px 5px;
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-radius: 4px;
  -moz-radius: 4px;
  border-radius: 4px;
}
/* Class content in section content - that's funny ;-D */
#content .content {
  background: #fff;
  padding: 2px 5px 2px 5px;
  width: 100%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#f5f5f5));
  background: -moz-linear-gradient(top, #ededed, #f5f5f5);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ededed, endColorStr=#f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ededed, endColorStr=#f5f5f5);
  border-top:1px solid #ebfad2;border-bottom:1px solid #c9c9c9;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}
/* Float alignments for grid elements */
#content .left {
  float: left;
  width: 20%;
}
#content .right {
  float: left;
  width: 80%;
}
/* SECTION END */